@font-face {
  font-family: 'Basquiat';
  src: url('../assets/fonts/BASQUIAT.otf') format('opentype');
}

main {
  margin: 60px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  font-family: 'Basquiat', sans-serif !important;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .banner {
    height: 500px;
  }

  .banner-track img {
    height: 500px;
    object-fit: cover;
  }
}

.banner-track {
  display: flex;
  width: 100%;
  animation: slide 16s infinite ease-in-out;
}

.banner-track img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
}

@keyframes slide {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(-100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.categoria {
  margin-bottom: 60px;
}

.categoria h2 {
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Basquiat', sans-serif !important;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

@media (max-width: 768px) {
  .productos-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.producto-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

.producto-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.producto-card .info {
  background: #111;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.producto-card p{
  margin: 5px 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif !important;
}
.producto-card h3 {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
}

.producto-card .precio {
  font-size: 24px;
  font-family: 'Bebas Neue', sans-serif !important;
}

.producto-card button {
  justify-content: center;
  width: 60px;
  height: 40px;
  background: white;
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

.producto-card button .cart-icon {
  height: 32px;
  width: 32px;
}

.producto-card button .cart-icon path {
  fill: black;
}